<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmlucas.lecoledesloustics">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_school"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_school"
        android:supportsRtl="true"
        android:theme="@style/Theme.LécoleDesLoustics">
        <activity
            android:name=".Mathematiques.MathematiquesErreurActivity"
            android:exported="false" />
        <activity
            android:name=".Mathematiques.TableMultiplicationExerciceActivity"
            android:exported="false" />
        <activity
            android:name=".Mathematiques.TableMultiplicationActivity"
            android:exported="false" />
        <activity
            android:name=".Mathematiques.MathematiquesHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AddEleveActivity"
            android:exported="false" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>